<!--<?xml version="1.0" encoding="utf-8"?>
--><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  <!--
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="ivionServices.Service1" >
        <endpoint address="http://localhost:14193/Service1.svc"
                  binding="webHttpBinding"
                  contract="ivionServices.IService1"
                  behaviorConfiguration="web"></endpoint>

      </service>
    </services>
    
    
    
      
      
        
    
    <behaviors>
      
       <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
        
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Hasan\Desktop\sarmadfyp\fyp\ivionServices\ivionServices\App_Data\Database1.mdf;Integrated Security=True

</configuration>-->











<configuration>


  <connectionStrings>
    <add name="serviceConnection" connectionString="Server=8ed54e39-b88e-4bfc-96e9-a5490122ac34.sqlserver.sequelizer.com;Database=db8ed54e39b88e4bfc96e9a5490122ac34;User ID=qcdhpdezkotdtbmv;Password=XZgW6zbWZvu5To7s3rgjPQjNkDekosKNy3RC62gneuypVnmjKCnC6tkgQAKAuXGF;"/>
    <add name="SurveillanceServices.Properties.Settings.SQLSERVER_CONNECTION_STRING" connectionString="Server=8ed54e39-b88e-4bfc-96e9-a5490122ac34.sqlserver.sequelizer.com;Database=db8ed54e39b88e4bfc96e9a5490122ac34;User ID=qcdhpdezkotdtbmv;Password=XZgW6zbWZvu5To7s3rgjPQjNkDekosKNy3RC62gneuypVnmjKCnC6tkgQAKAuXGF;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="ivionServices.Service1" >
        <endpoint address="http://localhost:1650/Service1.svc"
                  binding="webHttpBinding"
                  contract="ivionServices.IService1"
                  behaviorConfiguration="web"></endpoint>

      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  
    
  
  
  
      
        
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>

    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
   
    <directoryBrowse enabled="true"/>
  </system.webServer>

  </configuration>
